.Quick1{
    background-image: url(./dev_quicklink.png);
    background-repeat: no-repeat;
}

.Quick2{
    background-image: url(./seo_quicklink.png);
    background-repeat: no-repeat;
}

.Quick3{
    background-image: url(./design_quicklink.png);
    background-repeat: no-repeat;
}